/* Custom styling for the Bootstrap website.
These styles do not ship with Bootstrap
*/
html {
    height: 100%;
}
.display-height {
    height: 100%;
    min-height: 100%;
}
.turn {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.padding0 {
    padding: 0;
}
a:hover,
a:focus,
a:visited {
    outline: 0;
    text-shadow: none !important;
}
.menu.active > .menu-link {
    color: #4b9bd7;
}
.menu.active > .menu-content {
    display: block;
}
.header .header-inside {
    position: relative;
    height: 53px;
    background: url('../../img/header/header-top-bg.jpg') repeat;
    border-bottom: 1px solid #fff;
}
.header .header-inside .header-logo {
    margin: 7px 40px 0 0px;
}
.header .header-inside .menu-button {
    color: #aaa;
    font-size: 28px;
    z-index: 1;
    color: #fff;
    margin: 6px 0 0 0;
    cursor: pointer;
}
.header .header-inside .menu-button.active {
    color: #4b9bd7;
}
.header .header-inside .header-inside-sections {
    float: right;
    z-index: 10000;
}
.header .header-inside .header-inside-sections .header-inside-section {
    position: relative;
    height: 52px;
    display: block;
    color: #999;
    float: left;
    padding: 5px 5px;
    border-top: 2px solid transparent;
    z-index: 100;
}
zoom:1 .header .header-inside .header-inside-sections .header-inside-section:visited {
           text-decoration: none !important;
       }
.header .header-inside .header-inside-sections .header-inside-section:hover .sprite-box,
.header .header-inside .header-inside-sections .header-inside-section:hover .link-title span,
.header .header-inside .header-inside-sections .header-inside-section:hover .link-title {
    color: #4b9bd7;
}
.header .header-inside .header-inside-sections .header-inside-section:hover {
    color: #4b9bd7;
    text-decoration: none;
    border-top: 2px solid #4691c9;
}
.header .header-inside .header-inside-sections .header-inside-section.actives {
    background-color: #222324;
    background-image: linear-gradient(to top, #222324 0%, #101113 100%);
}
.header .header-inside .header-inside-sections .header-inside-section:hover .sprite-hover,
.header .header-inside .header-inside-sections .header-inside-section:active .sprite-hover,
.header .header-inside .header-inside-sections .header-inside-section.active .sprite-hover {
    opacity: 1;
    display: inline-block !important;
}
.header .header-inside .header-inside-sections .header-inside-section.active .sprite,
.header .header-inside .header-inside-sections .header-inside-section:hover .sprite,
.header .header-inside .header-inside-sections .header-inside-section:active .sprite {
    opacity: 0;
    display: none;
}
.header .header-inside .header-inside-sections .header-inside-section .sprite-box {
    margin: -1px 10px 0 0;
    color: #aaa;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    float: left !important;
    width: 40px;
    background-color: #2b2c2d;
    border-radius: 2px;
    display: inline;
    position: relative;
}
.header .header-inside .header-inside-sections .header-inside-section .link-title {
    margin: 4px 0 0 0;
    font-size: 13px;
    float: left;
    display: inline;
    position: relative;
    text-transform: uppercase;
}
.header .header-inside .header-inside-sections .header-inside-section .link-title i {
    margin-left: 4px;
}
.header .header-inside .header-inside-sections .header-inside-section .link-title span {
    font-size: 11px;
    display: block;
    color: #6c6c6c;
    position: relative;
    z-index: 1;
    margin-top: -3px;
    text-transform: none;
}
.header .header-inside .header-inside-sections .header-inside-section .link-title .link-title-name {
    color: #fff !important;
}
.header .header-inside .header-inside-sections .play {
    width: 148px;
}
.header .header-inside .header-inside-sections .play:hover .sprite-box,
.header .header-inside .header-inside-sections .play:hover .link-title span,
.header .header-inside .header-inside-sections .play:hover .link-title {
    color: #53910a;
}
.header .header-inside .header-inside-sections .play:hover {
    color: #53910a;
    border-top: 2px solid #53910a;
}
.header .header-inside .header-inside-sections .play .pause-link-title {
    display: none;
}
.header .header-inside .header-inside-sections .play .play-sprite-box,
.header .header-inside .header-inside-sections .play .play-link-title {
    display: block;
}
.header .header-inside .header-inside-sections .play .play-link-title {
    letter-spacing: -0.5px;
    margin: 4px 0 0 1px;
}
.header .header-inside .header-inside-sections .play .pause-sprite-box {
    display: none;
}
.header .header-inside .header-inside-sections .pause {
    width: 148px;
}
.header .header-inside .header-inside-sections .pause:hover {
    border-top: 2px solid #e93e3c;
    color: #e13124;
}
.header .header-inside .header-inside-sections .pause:hover .sprite-box,
.header .header-inside .header-inside-sections .pause:hover .link-title {
    color: #e13124;
}
.header .header-inside .header-inside-sections .pause:hover .link-title span {
    color: #e13124;
}
.header .header-inside .header-inside-sections .pause.actives {
    border-top: 2px solid #e93e3c;
    background: url('../../img/chat/pause-button.jpg') no-repeat -399px -1px;
}
.header .header-inside .header-inside-sections .pause .pause-sprite-box {
    display: block;
    font-size: 16px;
}
.header .header-inside .header-inside-sections .pause .pause-link-title {
    margin: 4px 0px 0 1px;
    display: block;
    letter-spacing: -0.5px;
}
.header .header-inside .header-inside-sections .pause .play-link-title {
    display: none !important;
}
.header .header-inside .header-inside-sections .pause .play-sprite-box {
    display: none !important;
}
.header .header-inside .header-inside-sections .dropped {
    position: relative;
    display: inline-block;
    float: left;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu {
    z-index: 10000;
    right: 0px;
    top: 52px;
    border: 0;
    border-radius: 0;
    background-color: #212223;
    position: absolute;
    float: none;
    margin: 0;
    min-height: 0;
    left: 0px;
    padding: 2px 11px;
    display: none;
    list-style: none;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a {
    color: #aaa;
    font-size: 13px;
    padding: 7px 29px 7px 10px;
    border-bottom: 1px solid #333435;
    display: inline-block;
    width: 100%;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a:hover {
    text-decoration: none;
    color: #3187c6;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a i {
    margin-right: 6px;
    font-size: 13px;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a .sprite-hover img,
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a .sprite img {
    width: 12px;
    height: auto;
    margin: -4px 1px 0 -2px;
    display: inline-block;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a:active .sprite-hover,
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a.active .sprite-hover,
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a:hover .sprite-hover {
    opacity: 1;
    display: inline-block !important;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a:active .sprite,
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a.active .sprite,
.header .header-inside .header-inside-sections .dropped .dropped-menu li > a:hover .sprite {
    opacity: 0;
    display: none;
}
.header .header-inside .header-inside-sections .dropped .dropped-menu li:last-child a {
    border-bottom: 0;
}
.header .header-inside .header-inside-sections .info-block:hover {
    border-top: 2px solid transparent;
}
.header .header-inside .header-inside-sections .info-block:hover .sprite-box {
    color: #aaa;
}
.header .header-inside .header-inside-sections .info-block:hover .link-title {
    color: #999;
}
.header .header-inside .header-inside-sections .info-block:hover .link-title span {
    color: #6c6c6c;
}
.sprite-hover {
    opacity: 0;
    display: none;
}
.sprite {
    opacity: 1;
}
.header-inside-sections {
    display: inline-block;
}
.header-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: url('../../img/header/header-title-bg.jpg') no-repeat center top;
    background-size: cover;
    height: 35px;
    display: table;
    line-height: 1;
    width: 100%;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.vissible {
    display: inline-block !important;
    opacity: 1;
}
.main-box {
    width: 100%;
    background: url('../../img/main-bg.jpg');
    padding: 5px 0 60px;
    padding: 5px 0;
    min-height: calc(100% - 209px);
}
.main-col {
    padding: 0 3px 1px;
    text-align: center;
}
.main-col:visited,
.main-col:hover {
    text-decoration: none;
}
.main-col:hover .main-col-name {
    color: #58adec;
    width: 100%;
    border: 1px solid #000;
    border-top: none !important;
}
.main-col:hover img {
    border: 1px solid #000;
    border-bottom: none;
}
.main-col img {
    border: 1px solid transparent;
    width: 100%;
    border-bottom: none;
    display: inline-block;
}
.main-col .main-col-name {
    border: 1px solid transparent;
    border-top: none !important;
    padding-top: 2px;
    color: #fdfdfd;
    height: 25px;
    background-color: #333;
    width: calc(100% - 2px);
    display: inline-block;
    overflow: hidden;
}
.footer .footer-nav {
    padding-top: 10px;
    height: 85px;
    background-color: #171717;
}
.footer .footer-nav .nav {
    padding-top: 15px;
    margin-right: 19%;
    display: inline-block;
}
.footer .footer-nav .nav li > a {
    padding: 0px 2px 0px 25px;
    color: #aaa;
    font-size: 12px;
    display: inline-block;
}
.footer .footer-nav .nav li > a:before {
    position: absolute;
    content: "\f105";
    font-family: FontAwesome;
    left: 6px;
}
.footer .footer-nav .nav li > a:focus,
.footer .footer-nav .nav li.active > a,
.footer .footer-nav .nav li > a:hover {
    text-decoration: underline;
    color: #4b9bd7;
    background-color: transparent;
}
.footer .footer-nav .footer-logo {
    margin-top: 10px;
    float: right;
}
.footer .footer-copyright {
    height: 36px;
    padding-top: 7px;
    background-color: #121415;
    box-shadow: inset 0 1px 0 #262626;
    font-size: 12px;
    color: #6c6c6c;
}
.footer .footer-copyright .row{
    margin: 0;
}
.small-logo {
    width: 24px;
}
.main-custom {
    padding-top: 40px;
    text-align: center;
}
.main-custom .form {
    display: inline-block;
    width: 550px;
    padding: 39px 34px;
    background-color: #fcfcfc;
    border: 1px solid white;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
}
.form-group {
    width: 478px;
    height: 39px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    position: relative;
}
.form-group input {
    border: 0 !important;
    padding: 0 60px 0 15px;
    height: 100%;
    line-height: normal;
    box-shadow: none !important;
    font-size: 14px;
}
.form-group input:active,
.form-group input:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}
.blue-star {
    position: relative;
}
.blue-star:before {
    content: "*";
    font-size: 18px;
    font-weight: 700;
    color: #3187c6;
    position: absolute;
    top: -4px;
    left: -10px;
}
.captcha-code {
    width: calc(100% - 182px);
    width: -moz-calc(100% - 182px);
    float: left;
    margin: 2px 0 20px 0;
}
.form-group i {
    display: inline-block;
    color: #d3d3d3;
    top: 2px;
    right: 0;
    position: absolute;
    width: 36px;
    text-align: center;
    display: block;
    height: 33px;
    font-size: 16px !important;
    line-height: 32px;
    border-left: 1px solid #d7d7d7;
}
.form-group.error {
    border: 1px solid #f5413f;
}
.form-group > .error-text {
    display: none;
    position: absolute;
    right: 0;
    top: -20px;
    color: #f5413f;
    font-size: 13px;
    text-align: right;
}
.error > .error-text {
    display: block;
}
.form-group.success {
    color: #53910a;
    border: 1px solid #53910a;
}
.form-group.success input.form-control:-ms-placeholder {
    color: #53910a !important;
}
.form-group.success input.form-control::-moz-placeholder {
    color: #53910a !important;
}
.form-group.success input.form-control::-webkit-input-placeholder {
    color: #53910a !important;
}
.form-group.success input,
.form-group.success i {
    color: #53910a !important;
}
.form-group.error input.form-control:-ms-placeholder {
    color: #f5413f !important;
}
.form-group.errorinput.form-control::-moz-placeholder {
    color: #f5413f !important;
}
.form-group.error input.form-control::-webkit-input-placeholder {
    color: #f5413f !important;
}
.form-group.error input,
.form-group.error i {
    color: #f5413f !important;
}
.captcha-img {
    float: left;
}
.captcha-code input {
    padding: 0 15px;
}
.captcha-refresh {
    float: left;
    margin: 7px 7px 0;
    font-size: 16px;
    color: #333;
}
.captcha-refresh:hover:before {
    color: #3187c6;
}
input[type="checkbox"] {
    background: url('../../img/checkbox.png') no-repeat center top;
    height: 16px;
    width: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
}
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
    box-shadow: none;
    outline: 0;
    border: 0;
}
input[type="checkbox"]:checked,
input[checked="checked"] {
    background: url('../../img/checkbox.png') no-repeat center -29px;
    outline: 0;
    border: 0;
}
input[type="checkbox"]:checked:focus,
input[checked="checked"]:focus,
input[type="checkbox"]:checked:active,
input[checked="checked"]:active {
    box-shadow: none;
    outline: 0;
    border: 0;
}
.page-link {
    text-decoration: none;
    color: #3187c6;
}
.page-link:visited,
.page-link:hover {
    color: #3187c6;
    text-decoration: underline;
}
.check-wrapper {
    margin: 20px 0 15px;
    color: #333;
    overflow: hidden;
    width: 100%;
    display: block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
    line-height: 1;
}
.check-wrapper li {
    display: inline;
    white-space: nowrap;
}
.check-wrapper li.empty {
    display: block;
}
.check-wrapper li input {
    margin-bottom: auto;
    vertical-align: middle;
    margin: 0 5px 0 0px;
}
.check-wrapper li span,
.check-wrapper li label {
    vertical-align: middle;
    padding-right: 10px;
    margin: 0;
    float: none;
}
.check-wrapper li .page-link {
    margin-top: 1px;
}
.text-bold {
    font-weight: 600;
}
.text-gray {
    color: #888;
}
.text-spacing {
    letter-spacing: 1px;
}
.text-normal {
    font-weight: 400;
}
button {
    float: left;
    height: 39px;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border: 0;
}
.page-button {
    color: #fff;
    background-color: #4b9bd7;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-block;
    padding: 5px 15px;
    line-height: 1;
}
.page-button:focus,
.page-button:visited {
    color: #fff;
    background-color: #4b9bd7;
    text-decoration: none;
}
.page-button:hover {
    background-color: #3187c6;
    color: #b8d5ea;
    text-decoration: none;
}
.page-button:active {
    background-color: #21699e !important;
    border: 0;
    outline: 0;
    color: #bfd5e1 !important;
}
label {
    float: left;
    margin-bottom: 10px;
}
.reg-title {
    font-size: 13px;
    color: #888;
    font-weight: 400;
}
.user-card img {
    float: left;
    margin: 0 20px 10px 0;
}
.user-card .question-box {
    margin: 0 0 25px;
}
.user-card p {
    margin: 0 0 2px;
    font-size: 13px;
    color: #2b2c2d;
    font-weight: 600;
}
.user-card .question {
    color: #747779;
    font-weight: 400;
}

.user-card .page-button {
    padding: 13px 20px;
    margin: 0 5px;
}
.collum-carusel{
    margin: 10px -5px;
}
.owl-carousel .item-video {
    height: 200px;
}
.video-col {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.video-col .view {
    font-size: 14px;
    color: #333;
    padding: 8px 5px 7px 0;
    line-height: 14px;
    overflow: hidden;
    height: 30px;
    background: #fff;
    position: relative;
    z-index: 99;
}
.view-2 .video-col .view{
    padding: 8px 5px 7px 19px;
    width: 98%;
    float: right;
    position: absolute;
    top: 0;
}
.wrapper-slide_video{
    z-index: 9999999999;
}
.video-col .view .view-link {
    font-size: 18px;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin: 0 1px;
}
.video-col .view .view-link.view0 {
    background: url('../../img/chat/view-chat.png') no-repeat;
    width: 31px;
}
.video-col .view .view-link.view0.active,
.video-col .view .view-link.view0:hover {
    background-position: 0 -29px;
}
.video-col .view .view-link.view1 {
    background: url('../../img/chat/view-chat.png') no-repeat;
    background-position: -37px 0;
}
.video-col .view .view-link.view1.active,
.video-col .view .view-link.view1:hover {
    background-position: -37px -29px;
}
.video-col .view .view-link.view2 {
    background: url('../../img/chat/view-chat.png') no-repeat;
    background-position: -58px 0px;
    width: 31px;
}
.video-col .view .view-link.view2.active,
.video-col .view .view-link.view2:hover {
    background-position: -58px -29px;
}
.video-col .view .refresh {
    -webkit-transform: translate(0px, -1.5px);
    -ms-transform: translate(0px, -1.5px);
    transform: translate(0px, -1.5px);
    color: #333;
    font-size: 18px;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin: 0 1px;
}
.video-col .view .refresh:hover {
    color: #3187c6;
}
.video-col .video-wrapper {
    overflow: hidden;
    margin: 0;
}
.video-col .video-wrapper .video-box {
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    height: auto;
}
.video-col .video-wrapper .video-box .flowplayer {
    height: auto;
    width: 100%;
}

.view-2 .chat-col{
    padding: 30px 0 0 10px;
}

li{
    list-style: none;
}
.chat-col .owl-dots{
    position: absolute;
    top: -24px;
}
.collum-carusel .owl-dots{
    margin: 20px 0 0;
}
.owl-dots{
    text-align: center;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000;
}
.view-2 .video-col {
    width: 68%;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 30px 0 0;
}
.bxslider-v .slick-list{
    overflow: visible;
}
.view-2 .video-col .video-box {
    width: 100%;
    float: left;
}
.view-2 .video-col .video-box .flowplayer {
    width: 100%;
}
.view-2 .chat-col {
    width: 32%;
    float: left;
}
.view-2 .chat-col .chat-controls {
    padding: 0;
}
.view-1 .video-col ,
.view-3 .video-col {
    width: calc(70% - 10px );
    float: left;
    margin-right: 10px;
}
.view-1 .chat-col,
.view-3 .chat-col {
    width: 30%;
    float: left;
    position: relative;
}
.view-3 .video-col .video-box {
    float: left;
    width: 50%;
}
.view-3 .video-col .video-box:nth-child(2n+1) {
    text-align: right;
    padding-right: 5px;
}
.view-3 .video-col .video-box:nth-child(2n) {
    padding-left: 5px;
}
.view-3  .bxslider-h .slick-next,
.view-3  .bxslider-h .slick-next:hover{
    right: 5px;
}
.view-1 .bxslider-h .slick-next ,
.view-1 .bxslider-h .slick-next:hover {
    right: 5px !important;
}
.view-3 .bxslider-h .slick-prev,
.view-3 .bxslider-h .slick-prev:hover{
    left: 5px;
}
.smiles {
    display: inline-block;
    background: url('../../img/chat/sprite_smiles.png') 0 0 no-repeat;
    width: 26px;
    height: 26px;
    vertical-align: bottom;
    transition: all 0.2s;
}
.clicked.navbar-toggle {
    color: #4b9bd7;
}
.smiles.smile1 {
    background-position: 0px 0;
}
.smiles.smile2 {
    background-position: -30px 0px;
}
.smiles.smile3 {
    background-position: -60px 0px;
}
.smiles.smile4 {
    background-position: -90px 0px;
}
.smiles.smile5 {
    background-position: -120px 0px;
}
.smiles.smile6 {
    background-position: -150px 0px;
}
.smiles.smile7 {
    background-position: -180px 0px;
}
.smiles.smile8 {
    background-position: -210px 0px;
}
.smiles.smile9 {
    background-position: -240px 0px;
}
.smiles.smile10 {
    background-position: -270px 0px;
}
.smiles.smile11 {
    background-position: 0px -31px;
}
.smiles.smile12 {
    background-position: -30px -31px;
}
.smiles.smile13 {
    background-position: -60px -31px;
}
.smiles.smile14 {
    background-position: -90px -31px;
}
.smiles.smile15 {
    background-position: -120px -31px;
}
.smiles.smile16 {
    background-position: -150px -31px;
}
.smiles.smile17 {
    background-position: -180px -31px;
}
.smiles.smile18 {
    background-position: -210px -31px;
}
.smiles.smile19 {
    background-position: -240px -31px;
}
.smiles.smile20 {
    background-position: -270px -31px;
}
.smiles.smile21 {
    background-position: 0px -61px;
}
.smiles.smile22 {
    background-position: -30px -61px;
}
.smiles.smile23 {
    background-position: -60px -61px;
}
.smiles.smile24 {
    background-position: -90px -61px;
}
.smiles.smile25 {
    background-position: -120px -61px;
}
.smiles.smile26 {
    background-position: -150px -61px;
}
.smiles.smile27 {
    background-position: -180px -61px;
}
.smiles.smile28 {
    background-position: -210px -61px;
}
.smiles.smile29 {
    background-position: -210px -61px;
}
.smiles.smile30 {
    background-position: -270px -61px;
}
.smiles.smile31 {
    background-position: 0px -91px;
}
.smiles.smile32 {
    background-position: -30px -91px;
}
.smiles.smile33 {
    background-position: -60px -91px;
}
.smiles.smile34 {
    background-position: -90px -91px;
}
.smiles.smile35 {
    background-position: -120px -91px;
}
.smiles.smile36 {
    background-position: -150px -91px;
}
.smiles.smile37 {
    background-position: -180px -91px;
}
.smiles.smile38 {
    background-position: -210px -91px;
}
.smiles.smile39 {
    background-position: -240px -91px;
}
.smiles.smile40 {
    background-position: -270px -91px;
}
.smiles.smile41 {
    background-position: 0px -121px;
}
.smiles.smile42 {
    background-position: -30px -121px;
}
.smiles.smile43 {
    background-position: -60px -121px;
}
.smiles.smile44 {
    background-position: -90px -121px;
}
.dropdown-menu{
    width: 100%;
}
.smiles.smile45 {
    background-position: -120px -121px;
}
.smiles.smile46 {
    background-position: -150px -121px;
}
.smiles.smile47 {
    background-position: -180px -121px;
}
.smiles.smile48 {
    background-position: -210px -121px;
}
.smiles.smile49 {
    background-position: -240px -121px;
}
.smiles.smile50 {
    background-position: -270px -121px;
}
.smiles.smile51 {
    background-position: 0px -151px;
}
.smiles.smile52 {
    background-position: -30px -151px;
}
.smiles.smile53 {
    background-position: -60px -151px;
}
.smiles.smile54 {
    background-position: -90px -151px;
}
.smiles.smile55 {
    background-position: -120px -151px;
}
.smiles.smile56 {
    background-position: -150px -151px;
}
.smiles.smile57 {
    background-position: -180px -151px;
}
.smiles.smile58 {
    background-position: -210px -151px;
}
.smiles.smile59 {
    background-position: -240px -151px;
}
.smiles.smile60 {
    background-position: -270px -151px;
}
.smiles.smile61 {
    background-position: 0px -181px;
}
.smiles.smile62 {
    background-position: -30px -181px;
}
.smiles.smile63 {
    background-position: -60px -181px;
}
.smiles.smile64 {
    background-position: -90px -181px;
}
.smiles.smile65 {
    background-position: -120px -181px;
}
.smiles.smile66 {
    background-position: -150px -181px;
}
.smiles.smile67 {
    background-position: -180px -181px;
}
.smiles.smile68 {
    background-position: -210px -181px;
}
.smiles.smile69 {
    background-position: -240px -181px;
}
.smiles.smile70 {
    background-position: -270px -181px;
}
.smiles.smile71 {
    background-position: 0px -210px;
}
.smiles.smile72 {
    background-position: -30px -210px;
}
.smiles.smile73 {
    background-position: -60px -210px;
}
.smiles.smile74 {
    background-position: -90px -210px;
}
.smiles.smile75 {
    background-position: -120px -210px;
}
.smiles.smile76 {
    background-position: -150px -210px;
}
.smiles.smile77 {
    background-position: -180px -210px;
}
.dropped.active .dropdown-link.chat-button {
    color: #4b9bd7 !important;
    background-color: #252525;
}
.dropped.active .header-inside-section {
    background-color: #222324;
    background-image: linear-gradient(to top, #222324 0%, #101113 100%);
}
.dropped.active .header-inside-section .sprite-box {
    color: #4b9bd7 !important;
}
.dropped.active .header-inside-section .link-title {
    color: #4b9bd7;
}
.dropped.active .dropdown-link,
.dropped.active .dropdown-content {
    display: block !important;
}
.dropped.active .dropdown-link .dropdown-caret {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}
li.dropdown .container.nav-tabs{
    line-height: 26px;
}
.tab-pane#info-news{
    padding: 0 10px;
}
.datepic .empty {
    height: 40px;
}
.datepic .form-group {
    width: auto;
    padding: 7px 0 0 15px;
    cursor: pointer;
    text-align: left;
}
.datepic .form-group i {
    color: #333;
}
.daterangepicker {
    margin-top: 8px;
    border: 1px solid #d3d3d3;
}
.daterangepicker.dropdown-menu{
    width: auto;
}
.daterangepicker.dropdown-menu .ranges ul{
    width: 100%!important;
}
.daterangepicker.dropdown-menu .ranges{
    width: 324px!important;
}
.daterangepicker:before,
.daterangepicker:after {
    content: none;
}
.daterangepicker .ranges ul li {
    width: 100%;
    margin-bottom: 2px;
    border-radius: 2px;
}
.daterangepicker .ranges ul li.active,
.daterangepicker .ranges ul li:hover {
    background-color: #3187c6;
    color: #fff;
    text-decoration: none;
}
.daterangepicker .ranges ul li:active {
    background-color: #21699e !important;
    outline: 0;
    color: #bfd5e1 !important;
}
#reportrange {
    width: 100%;
}
#reportrange .caret {
    margin-left: 0;
}
.calendar-table {
    font-size: 13px;
}
.calendar-table .table-condensed thead tr th {
    padding: 0;
    background-color: #333;
    border-radius: 0;
    border: 1px solid #d9d9d9;
    color: #fff;
    font-weight: 400;
}
.calendar-table .table-condensed thead tr th.month {
    background-color: #333;
    color: #fff;
    font-weight: 400;
    border: 1px solid #d9d9d9;
}
.calendar-table .table-condensed thead tr th.available {
    background-color: #333;
    color: #fff;
    border: 1px solid #d9d9d9;
}
.calendar-table .table-condensed thead tr:nth-child(2) th {
    background-color: #4b9bd7;
}
.calendar-table .table-condensed tbody tr td {
    padding: 0;
    background: #b5d5ed;
    border: 1px solid #9dbbdc;
    border-radius: 0;
}
.calendar-table .table-condensed tbody tr td:hover,
.calendar-table .table-condensed tbody tr td.start-date,
.calendar-table .table-condensed tbody tr td.in-range {
    background-color: #4b9bd7;
    color: #fff;
}
.calendar-table .table-condensed tbody tr td.off.available {
    background-color: #fff !important;
    border: 1px solid #d9d9d9;
}
.calendar-table .table-condensed tbody tr td.off.available:hover {
    color: #999;
}
.calendar-table .table-condensed tbody tr td.off.in-range.available,
.calendar-table .table-condensed tbody tr td.off.active.available.start-date {
    background-color: #fff;
    color: #999;
    border: 1px solid #d9d9d9;
}
.news-col {
    color: #747779;
    text-align: left;
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
}
.news-col:first-child {
    border: 0;
}
.news-col .news-col-header {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #2b2c2d;
    font-weight: 600;
}
.news-col .news-col-header span {
    margin-left: 5px;
}
.news-col ul {
    list-style: none;
    padding: 0;
}
.news-col ul li {
    text-indent: 20px;
    position: relative;
}
.news-col ul li:after {
    content: "\f105";
    font-family: FontAwesome;
    left: -20px;
    top: 0px;
    position: absolute;
    color: #3187c6;
}
.news-col ol {
    padding: 0;
    counter-reset: myCounter;
}
.news-col ol li {
    text-indent: 20px;
    position: relative;
    list-style: none;
}
.news-col ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: -20px;
}
.change-header {
    font-size: 13px;
    padding: 10px 0;
    font-weight: 600;
}
.change-col {
    min-height: 240px;
}
.change-col .pull-left {
    width: calc(100% - 300px);
}
.change-col .pull-left .form-group {
    width: 100%;
    margin-bottom: 3px;
}
.change-col .pull-left .page-button {
    margin-top: 15px;
}
.change-col .pull-right {
    width: 290px;
}
.change-col .pull-right .video-box {
    margin-bottom: 2px;
    text-align: center;
}
.menu.active .fa fa-sign-out {
    background-position: 0 -22px !important;
}
.change-col .pull-right .video-box .flowplayer {
    height: auto;
    width: 100%;
}
.change-col .pull-right .video-box .flowplayer.is-poster .fp-ui:after {
    font-size: 50px;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}
.change-col .pull-right .video-box .flowplayer .video-box .fp-ui .fp-fullscreen {
    display: none !important;
}
.change-col .page-button {
    width: 120px;
    padding: 12px 0 13px;
}
.red-btn:visited,
.red-btn {
    background: #f5413f !important;
    color: #fff !important;
}
.red-btn:visited:hover,
.red-btn:hover {
    color: #f2c0c0 !important;
    background: #dd3634 !important;
}
.red-btn:visited:active,
.red-btn:active {
    color: #a88585 !important;
    background: #972423 !important;
}
.gray-btn:visited,
.gray-btn:focus,
.gray-btn {
    background-color: #f4f4f4;
    color: #868686;
}
.gray-btn:visited:hover,
.gray-btn:focus:hover,
.gray-btn:hover {
    background-color: #e8e8e8;
    color: #333;
}
.gray-btn:visited:active,
.gray-btn:focus:active,
.gray-btn:active {
    background-color: #d2d2d2 !important;
    color: #111 !important;
}
.change .form {
    margin-top: 10px;
}
.change .form .form-group {
    width: 100%;
}
.change .form .form-group.text {
    height: 97px;
}
.change .form .form-group.text textarea {
    height: 100%;
    border: 0;
    resize: none;
    padding-right: 60px;
}
.change .form .form-group.text textarea:focus {
    box-shadow: none;
    outline: 0;
    border: none;
}
.change .form .form-group i.text {
    height: 92px;
    padding: 30px 0 0 0;
    font-style: normal;
}
.change .form .form-group i.text:before {
    position: relative;
    display: block;
}
.change .form .form-footer {
    margin-bottom: 20px;
}
.change .form .form-footer input {
    width: calc(100% - 208px);
    height: 39px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 0 15px;
}
.change .form .form-footer input:focus {
    outline: 0;
}
.change .form .form-footer .page-button {
    padding: 12px 15px;
}
.change .form .form-footer .notactive {
    color: #fff !important;
    background: rgba(245, 65, 63, 0.3) !important;
}
.change .form .form-footer .notactive:hover,
.change .form .form-footer .notactive:active,
.change .form .form-footer .notactive:visited {
    color: #fff !important;
    background: rgba(245, 65, 63, 0.3) !important;
}
.change .form .save {
    padding: 10px 35px;
}
.change input[type="checkbox"] {
    margin: 0 10px;
}
.bootstrap-select:after {
    content: "";
    position: absolute;
    height: 33px;
    right: 35px;
    background: #d7d7d7;
    width: 1px;
    top: 2px;
}
.bootstrap-select.open > .dropdown-toggle.btn-default {
    background-color: transparent;
}
.bootstrap-select .btn {
    box-shadow: none !important;
    color: #999;
}
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active {
    outline: 0 !important;
    border: 0 !important;
}
.bootstrap-select .btn .filter-option {
    color: #999;
}
.bootstrap-select .btn span.caret {
    right: 18px;
    color: #333 !important;
}
.bootstrap-select .btn .option {
    color: #2d2d2d;
}
.bootstrap-select .btn-default {
    background: transparent;
}
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:hover {
    background: transparent;
}
.bootstrap-select .dropdown-menu {
    width: calc(100% + 2px);
    margin-left: -1px;
    background: #fff;
    padding: 0;
    border: 1px solid #d3d3d3;
}
.bootstrap-select .dropdown-menu ul {
    padding: 0;
}
.bootstrap-select .dropdown-menu li {
    width: 100%;
}
.bootstrap-select .dropdown-menu li a {
    width: 100%;
    padding: 0 !important;
    display: block;
    border-bottom: 1px solid #cacaca;
    height: 35px;
    line-height: 34px;
}
.bootstrap-select .dropdown-menu li a:after {
    content: none;
}
.bootstrap-select .dropdown-menu li a span.option {
    /*padding: 11px 15px 0;*/
    display: inline-block;
    color: #2d2d2d;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-align: left;
    padding: 0 15px;
}
.bootstrap-select .dropdown-menu li a span.option:focus,
.bootstrap-select .dropdown-menu li a span.option:hover {
    color: #fff !important;
    background-color: #4b9bd7;
}
.admin-mail {
    height: calc(100% - 208px);
}
.admin-mail .container {
    height: calc(100% - 208px);
}
.admin-mail .container form {
    min-height: 250px;
    max-height: 45%;
    height: 45%;
    max-height: 650px;
}
.admin-mail .container form textarea.message {
    margin-bottom: 20px;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    resize: none;
}
.admin-mail .container form textarea.message:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}
.change-pay-title {
    font-size: 13px;
    text-align: left;
    padding: 0 50px;
    color: #262626;
}
.discription {
    font-size: 11px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 600;
}
.empty {
    width: 100%;
    height: 15px;
}
.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}
.reg-controls .page-button {
    padding: 13px 31px !important;
    float: none;
    height: 39px;
}
.reg-controls .green-btn {
    margin-bottom: 20px;
}
.reg-controls .continue {
    padding: 13px 35px !important;
}
.pasport-photo .example {
    margin-bottom: 20px;
}
.pasport-photo .page-button {
    width: 110px;
    padding: 12px 0;
    height: 39px;
    vertical-align: top;
}
.pasport-photo .form-group {
    width: calc(100% - 125px) !important;
    display: inline-block;
    margin-right: 10px;
}
.pasport-photo .form-group:before {
    content: none;
}
.pasport-photo .form-group i {
    width: 15px;
    height: 15px;
    position: absolute;
    border: 0;
    top: 10px;
}
.pasport-photo .form-group i:before {
    top: 0;
    top: -6px;
    left: 0;
    position: absolute;
}
.pasport-photo .form-group .fa-minus-square {
    right: 30px;
}
.pasport-photo .form-group .fa-plus-square {
    right: 10px;
}
.pasport-photo .form-group a:hover .fa-minus-square {
    color: red;
}
.pasport-photo .form-group a:active .fa-minus-square {
    color: #441413;
}
.pasport-photo .form-group a:hover .fa-plus-square {
    color: green;
}
.pasport-photo .form-group a:active .fa-plus-square {
    color: #184814;
}
.pasport-photo .form-group input {
    width: 100%;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    height: 100%;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    height: 100%;
    border: 0;
}
.green-btn {
    background: #53910a !important;
}
.green-btn:hover {
    color: #d4decc;
    background: #487e08 !important;
}
.green-btn:active {
    color: #d4decc;
    background: #2f5206 !important;
}
.webcam-btn {
    padding: 20px 40px;
    margin-top: 30px;
}
#delete .page-button {
    padding: 10px 35px;
}
.news-delivery {
    padding: 0 10px;
    color: #747779;
}
label[for="like-news"] {
    color: #2b2c2d;
}
.balance .container .balance-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.balance .container .balance-item {
    font-weight: 600;
    font-size: 18px;
    margin-right: 1px;
    line-height: 38px;
}
.balance .container p {
    margin-bottom: 15px;
    color: #747779;
}
.balance .container p b {
    color: #2f2c2d;
}
.balance .container form {
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}
.balance .container .form-group {
    width: auto;
    display: inline-block;
    margin-right: 1px;
    vertical-align: top;
}
.balance .container .form-group input {
    width: 123px;
}
.balance .container .form-group .money {
    width: 123px;
    padding-right: 15px;
}
.balance .container .phone input {
    width: 282px;
    border-radius: 3px
}
.balance .container .ya-form .bootstrap-select .btn:first-child {
    width: 282px;
}
.balance .container .mobile {
    margin-right: 20px;
}
.balance .container .mobile .bootstrap-select .btn:first-child {
    width: 290px;
}
.balance .container .page-button {
    float: none;
    vertical-align: top;
    text-align: center;
    width: 123px;
    padding: 0;
}
.balance .container .bootstrap-select:after {
    right: 36px;
}
.balance .container .btn-group > .btn:first-child {
    width: 123px;
}
.noborder {
    border: 0 !important;
}
.red-text {
    color: #f5413f;
}
.statistic-header {
    text-align: left;
    padding: 0;
    margin-top: 11px;
}
.statistic-header a {
    color: #2b2c2d;
    padding: 0 10px;
    position: relative;
}
.statistic-header a:focus {
    text-decoration: none;
}
.statistic-header a:before {
    content: "";
    width: 1px;
    height: 13px;
    left: -3px;
    top: 3px;
    position: absolute;
    background-color: #aaa;
}
.statistic-header a:first-child {
    padding-left: 0;
}
.statistic-header a:first-child:before {
    content: none;
}
.statistic-header a:hover,
.statistic-header a.active {
    color: #3187c6;
    text-decoration: underline;
}
.table-responsive .table {
    font-size: 14px;
    border: 1px solid #d3d3d3;
}
.table-responsive .table thead {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.table-responsive .table thead th {
    font-weight: 400;
    text-align: center;
    border-left: 1px solid #fff;
    border-bottom: 0;
}
.table-responsive .table thead th:first-child {
    text-align: left;
    border-left: 0px solid #fff;
}
.table-responsive .table tbody {
    color: #989898;
    border-top: 0;
}
.table-responsive .table tbody tr td {
    border: 1px solid #d3d3d3;
    border-top: 0;
}
.table-responsive .table tbody tr td:first-child {
    text-align: left;
}
.table-responsive .table tfoot tr td {
    border: 1px solid #d3d3d3;
    border-top: 0;
    color: #2b2c2d;
    font-weight: 600;
}
.table-responsive .table tfoot tr td:first-child {
    text-align: left;
}
.dropdown-menu ul > li a {
    padding: 3px 12px !important;
}
.steps {
    padding: 0 10px 10px;
    margin: -20px 0 50px;
}
.steps .step-col {
    position: relative;
    width: 20%;
    display: inline-block;
}
.steps .step-col .step-line {
    height: 3px;
    width: 100%;
    background-color: #cfcfcf;
}
.steps .step-col .step-round {
    width: 29px;
    height: 29px;
    background-color: white;
    border: 4px solid #cfcfcf;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    position: absolute;
    top: -13px;
}
.steps .step-col .step-text {
    color: #3187c6;
    position: absolute;
    top: 20px;
    width: 295%;
    left: 0;
    text-align: left;
    font-size: 13px;
}
.steps .step-col .step-text.person {
    width: 200%;
}
.steps .step-col .step-text.pasport {
    width: 100%;
    right: 0;
    left: 0;
}
.steps .step-col.active .step-line {
    background-color: #3187c6;
}
.steps .step-col.active .step-round {
    border-color: #3187c6;
}
.newuser .steps .step-col {
    width: 33.3%;
}
.daterangepicker .ranges {
    width: 165px !important;
}
.daterangepicker .ranges button{
    width: 49.5%;
    margin: 0!important;
}
.daterangepicker .ranges .page-button {
    margin-right: 1%!important;
    padding: 5px 11px;
}
.vissible-390 {
    display: none !important;
}
.container-footer,
.container-header{
    padding: 0 10px;
}
.container-header .row{
    margin: 0;
}
.container-header .row > div{
    padding: 0;
}
.container-footer > .row{
    margin: 0 !important;
}
.container-page{
    width: 100% !important;
    padding: 0;
}
.container-page.w100{
    padding: 0 10px;
}
.container-page.w100.view-2{
    padding-left: 0;
}
.header .menu i.fa fa-sign-out{
    background: url("/img/header/login-sprit.png")no-repeat;
    width: 19px;
    height: 21px;
    display: block;
    margin-top: 9px;
}
.header .menu.active a.fa fa-sign-out{
    background-position-y: -22px;
}
.slick-prev{
    z-index: 999;
    width: 45px;
    height: 45px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(74,159,222,.7);
    position: absolute;
    top: 45.3%;
    color: #fff;
    left: 0;
    overflow: hidden;
    text-transform: capitalize;
    padding: 11px 0 0 45px;
    transition: all .2s;
}
.video-main .slick-prev{
    width: 31px;
    height: 31px;
    padding: 6px 0 0 31px;
}
.video-main .slick-prev:hover,
.video-main .slick-next:hover{
    width: 74px;
}
.video-main .slick-prev:after{
    font-size: 20px;
    right: 11px;
    top: 7px;
}
.video-main .bxslider-v .slick-prev:after,
.video-main .bxslider-v1 .slick-prev:after,
.video-main .bxslider-v2 .slick-prev:after{
    right: 6px;
    top: 4px;
}
.video-main .bxslider-v .slick-next:before,
.video-main .bxslider-v1 .slick-next:before,
.video-main .bxslider-v2 .slick-next:before{
    left: 6px;
    top: 4px;
}
.slick-next span{
    position: absolute;
    left: 0;
    padding-left: 50px;
}
.slick-prev span{
    position: absolute;
    right: 0;
    padding-right: 50px;
}
.video-main .slick-prev span{
    padding-right: 35px;
}
.video-main .slick-next span{
    padding-left: 35px;
}
.slick-prev:hover{
    width: 89px;
}
.slick-prev:after{
    content: "\f053";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 16px;
    top: 10px;
    color: #fff;
    font-size: 26px;
}
.slick-next{
    z-index: 999;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: rgba(74,159,222,.7);
    position: absolute;
    top: 45.3%;
    color: #fff;
    right:0;
    overflow: hidden;
    text-transform: capitalize;
    padding: 11px 0 0 45px;
    transition: all .2s;
}
.video-main .slick-next{
    width: 31px;
    height: 31px;
    padding: 6px 0 0 31px;
}
.video-main .slick-next:before{
    font-size: 20px;
    left: 11px;
    top: 7px;
}
.bxslider-h .slick-next,
.bxslider-h .slick-next:hover{
    right: 5px;
    top: 28%;
}
.bxslider-h .slick-prev,
.bxslider-h .slick-prev:hover{
    left: 5px;
    top: 28%;
}
.slick-next:before{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 16px;
    top: 10px;
    color: #fff;
    font-size: 26px;
}
.slick-prev:hover{
    left: 0;
}
.slick-prev:hover,
.slick-next:hover{
    width: 89px;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: rgba(74,159,222,1);
}
.slick-dots{
    text-align: center;
    margin: 15px 0;
    padding: 0;
}
.slick-dots li{
    display: inline-block;
}
.slick-dots li button{
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    text-indent: -9999px;
    padding: 0;
    margin: 8px;
    float: none;
    outline: none;
}
.slick-dots li button:focus,
.slick-dots li button:active,
.slick-dots li button:visited{
    background: #ccc;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button{
    background: #000;
}
.video-col{
    overflow: hidden;
}
.bxslider-chat .slick-dots{
    position: absolute;
    top: -45px;
    width: 100%;
}
.wrapper-slide_video{
    background: #000;
    height: 200px;
    /*width: 98%;*/
    margin: 0 auto;
    overflow: hidden;
}
.wrapper-slide_video span{
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px 10px;
    color: #fff;
    z-index: 2;
    font-size: 18px;
}
.wrapper-slide_video img{
    width: 100%;
    height: 100%;
}
.view-1 .bxslider-h .slick-slide{
    margin-right: 4px!important;
}
.view-1 .bxslider-h .slick-slide,
.view-3 .bxslider-h .slick-slide{
    margin-right: 5px!important;
    margin-left: 5px !important;
    position: relative;
}
.bxslider-h .slick-list{
    overflow: visible;
}
.collum-carusel-v{
    display: none;
}
.container-page.w100.view-2 .collum-carusel {
    display: none;
}
.container-page.w100.view-2 .collum-carusel-v{
    display: block;
    width: 39%;
    float: left;
    position: relative;
    z-index: 9;
}
.container-page.w100.view-2 .video-wrapper{
    width: 62%;
    float: right;
    position: relative;
    z-index: 2;
}
.bx-viewport{
    height: auto !important;
}
.flowplayer{
    z-index: 0;
}
.bxslider-v{
    width: 90%;
    float: right;
    margin-right: 1%;
}
.view-2 .bxslider-v .slick-slide{
    float: right;
    margin-bottom: 8px;
}
.view-2 .bxslider-v{
    width: 88%;
}
.bxslider-v .slick-dots,
.bxslider-v1 .slick-dots,
.bxslider-v2 .slick-dots{
    display: block;
    width: 25px;
    left: -25px;
    position: absolute;
    top: 30%;
}
.bxslider-v .slick-dots li,
.bxslider-v1 .slick-dots li,
.bxslider-v2 .slick-dots li{
    display: block;
}
.bxslider-v .slick-dots li button{
    margin: 15px 10px;
}
.view-2 .bxslider-v .slick-dots li button{
    margin: 10px;
}
.bxslider-v .slick-prev:after,
.bxslider-v1 .slick-prev:after,
.bxslider-v2 .slick-prev:after{
    content: "\f077";
}
.bxslider-v .slick-next:before,
.bxslider-v1 .slick-next:before,
.bxslider-v2 .slick-next:before{
    content: "\f078";
}
.bxslider-v .slick-prev,
.bxslider-v1 .slick-prev,
.bxslider-v2 .slick-prev {
    top: 1px;
    left: 50%;
    margin-left: -15px;
    border-radius: 0 0 3px 3px;
}
.bxslider-v .slick-next,
.bxslider-v1 .slick-next,
.bxslider-v2 .slick-next {
    bottom: 0;
    top: initial;
    left: 50%;
    margin-left: -15px;
    border-radius: 3px 3px 0 0;
}
.collum-carusel.row .bxslider-h .slick-dots li button:hover {
    background: #ccc;
}
.collum-carusel.row .bxslider-h .slick-dots li.slick-active button {
    background: #3d88cd;
}
/*Hide unnecessary blocks to the programmer*/
@media (max-width: 1199px){
    .daterangepicker.dropdown-menu .ranges{
        width: 302px!important;
    }
    .bxslider-home li a:nth-child(n+17){
        display: none;
    }
}
@media (max-width: 991px){
    .daterangepicker.dropdown-menu .ranges{
        width: 349px!important;
    }
    .bxslider-home li a:nth-child(n+13){
        display: none;
    }
}
@media (max-width: 767px){
    .bxslider-home li a:nth-child(n+7){
        display: none;
    }


}
/*Hide unnecessary blocks to the programmer*/

@media (max-width: 1100px) {
    .nav > li > a {
        padding: 7px 10px;
    }
}
.view-1 .video-col .video-wrapper {
    /*padding-right: 9px;*/
}
.view-1 .bxslider-h .slick-next,
.view-1 .bxslider-h .slick-next:hover{
    right: 1px;
}
.view-1 .bxslider-h .slick-prev,
.view-1 .bxslider-h .slick-prev:hover{
    left: 5px;
}
.avatar-img{
    float: left;
    border-radius: 100%;
    overflow: hidden;
    margin: 9px 16px;
    height: 52px;
    width: 52px;
    border: 1px solid #fff;
}
.chat-col .chat-main .message .avatar_chat{
    border: 1px solid #fff;
}
.user-content{
    font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0 0 0 70px;
}
.chat-users > li {
    min-height: 75px;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #4c4c4c;
}
.chat-users > li:first-child{
    border-top: none;
}
.user-content__top{
    height: 20px;
    width: 100%;
    padding: 8px 0 0;
    box-sizing: content-box;
}

span.admin-name{
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    float: left;
}
span.user-name{
    color: #aaa;
    font-weight: bold;
    font-size: 13px;
    float: left;
}
span.i-user-name{
    color: #f6bf32;
    font-weight: bold;
    font-size: 13px;
    float: left;
}
.user-list{
    padding: 0 0 0 79px;
}
.user-list li a{
    color: #fff;
    font-size: 11px;
    text-decoration: underline;
}
.user-list li a:hover{
    text-decoration: none;
}
.user-content__bot{
    color: #aaa;
    font-size: 13px;
    font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
}
.chat-users li .clearfix{
    height: 1px;
}

/*Hide unnecessary blocks to the programmer*/




@media (max-width: 2000px) and (max-height: 1100px){
    .bxslider-home li a:nth-child(n+25){
        display: none;
    }
}

@media (max-width: 1650px) and (max-height: 1201px){
    .bxslider-home li a:nth-child(-n+33){
        display: block;
    }
    .bxslider-home li a:nth-child(n+31){
        display: none;
    }
}
@media (max-width: 1155px) and (max-height: 900px){
    .bxslider-home li a:nth-child(-n+17){
        display: block;
    }
    .bxslider-home li a:nth-child(n+17){
        display: none;
    }
}
@media (max-width: 1100px) and (max-height: 2000px) and (min-height: 1700px){
    .bxslider-home li a:nth-child(-n+37){
        display: block;
    }
    .user-list {
        padding: 0 0 4px 79px;
        margin: -12px 0 0;
    }
    .bxslider-home li a:nth-child(n+37){
        display: none;
    }
    .collum-carusel {
        margin: 10px -5px 0;
    }
    .slick-dots {
        margin: 15px 0 0;
    }
    .bxslider-h{
        margin-bottom: 0;
    }
}
@media (max-width: 1100px) and (max-height: 1690px) and (min-height: 1450px){
    .bxslider-home li a:nth-child(-n+33){
        display: block;
    }
    .bxslider-home li a:nth-child(n+33){
        display: none;
    }
}
@media (max-width: 1100px) and (max-height: 1400px){
    .bxslider-home li a:nth-child(-n+29){
        display: block;
    }
    .bxslider-home li a:nth-child(n+29){
        display: none;
    }
}
@media (max-width: 1000px) and (max-height: 1601px){
    .bxslider-home li a:nth-child(-n+19){
        display: block;
    }
    .bxslider-home li a:nth-child(n+19){
        display: none;
    }
}
@media (max-width: 901px) and (max-height: 1601px){
    .bxslider-home li a:nth-child(-n+22){
        display: block;
    }
    .bxslider-home li a:nth-child(n+22){
        display: none;
    }
}
@media (max-width: 850px) and (max-height: 650px){
    .bxslider-home li a:nth-child(-n+9){
        display: block;
    }
    .bxslider-home li a:nth-child(n+9){
        display: none;
    }
}
@media (max-width: 800px) and (max-height: 1300px){
    .bxslider-home li a:nth-child(-n+10){
        display: block;
    }
    .bxslider-home li a:nth-child(n+10){
        display: none;
    }
}
@media (max-width: 700px) and (max-height: 1201px){
    .bxslider-home li a:nth-child(-n+11){
        display: block;
    }
    .bxslider-home li a:nth-child(n+11){
        display: none;
    }
}
@media (max-width: 700px) and (max-height: 1050px){
    .bxslider-home li a:nth-child(-n+9){
        display: block;
    }
    .bxslider-home li a:nth-child(n+9){
        display: none;
    }
}
@media (max-width: 500px) and (max-height: 801px){
    .bxslider-home li a:nth-child(-n+7){
        display: block;
    }
    .bxslider-home li a:nth-child(n+7){
        display: none;
    }
}



/*Hide unnecessary blocks to the programmer*/



@media (max-width: 1600px) {
    .view-1 .bxslider-h .slick-next,
    .view-1 .bxslider-h .slick-next:hover,
    .view-3 .bxslider-h .slick-next,
    .view-3 .bxslider-h .slick-next:hover{
        right: 5px;
    }
    .view-1 .video-col .video-wrapper {
        /*padding-right: 10px;*/
    }
}
@media (max-width: 1320px) {
    .user-list {
        padding: 0 0 5px 10px;
    }
    .user-content {
        padding: 10px 0 13px 70px;
    }
}
@media (max-width: 1150px){
    .wrapper-slide_video span{
        font-size: 16px;
    }
}
@media (max-width: 1055px) {
    .user-list li {
        padding: 0 5px 0 0;
    }
}
@media (min-width: 0px) {
    .bxslider-v1.slick-slider,
    .bxslider-v2.slick-slider,
    .bxslider-v1,
    .bxslider-v2{
        display: none;
    }
}
@media (max-width: 1024px) {

    .wrapper-slide_video span{
        font-size: 14px;
    }
    .container-page.w100.view-2 .video-wrapper{
        width: 57%;
    }
    .view-2 .video-col{
        width: 64%;
    }
    .container-page.w100.view-2 .collum-carusel-v{
        width: 43%;
        margin-left: -6px;
    }
    .view-2 .chat-col{
        width: 36%;
    }

    .view-1 .video-col .video-wrapper{
        margin-right: 3px;
    }
    .view-1 .video-col,
    .view-3 .video-col{
        padding-right: 10px;
    }
    .view-3 .video-col .video-box,
    .view-3 .video-col .video-box:nth-child(2n+1){
        padding-right: 3px;
        margin-bottom: -1px;
    }
    .view-3 .video-col .video-box:nth-child(3),
    .view-3 .video-col .video-box:nth-child(4){
        margin-bottom: -4px;
    }
    .view-1 .chat-col .slick-prev,
    .view-3 .chat-col .slick-prev{
        left: -10px;
    }
    .view-1 .chat-col .slick-next,
    .view-3 .chat-col .slick-next{
        right: -10px;
    }
    .container-page.w100.view-1,
    .container-page.w100.view-3{
        padding: 0;
    }
    .view-1 .video-col .view,
    .view-3 .video-col .view{
        padding-left:10px;
    }
    .view-2 .video-col .view{
        padding-left: 10px;
    }
    .view-1 .bxslider-v1 .slick-dots,
    .view-3 .bxslider-v2 .slick-dots{
        top: 23%;
    }
    .view-1 .bxslider-v1 .slick-dots li button,
    .view-3 .bxslider-v2 .slick-dots li button{
        margin: 10px 12px;
    }
    .view-1 .bxslider-v1 .wrapper-slide_video{
        width: 100%;
    }
    .view-1 .bxslider-v1,
    .slick-vertical{
        padding: 0;
        width: 90%;
        float: right;
    }
    .view-1 .video-col .video-wrapper,
    .view-3 .video-col .video-wrapper{
        width: 100%;
        float: none;
        padding: 0 10px;
    }
    .view-1 .collum-carusel,
    .view-3 .collum-carusel{
        /* width: 27%;
         float: left;*/
        padding: 10px;
    }
    .view-1 .bxslider-h .slick-slide, .view-3 .bxslider-h .slick-slide{
        padding: 0 5px !important;
        margin: 0 !important;
    }
    .view-1 .video-col,
    .view-3 .video-col{
        width: 100%;
        padding: 0;
        /*overflow: visible;*/
    }
    .view-1 .bxslider-h .slick-next, .view-1 .bxslider-h .slick-next:hover {
        right: -5px !important;
    }
    .view-1 .chat-col,
    .view-3 .chat-col{
        width: 100% !important;
        min-height: 400px;
        margin-bottom: 40px;
        padding: 0 10px 40px !important;
    }
    .view-1 .bxslider-h .slick-prev, .view-1 .bxslider-h .slick-prev:hover {
        left: -5px;
    }
    .bxslider-h .slick-next, .bxslider-h .slick-next:hover{
        right: -5px !important;
    }
    .view-3 .bxslider-h .slick-prev, .view-3 .bxslider-h .slick-prev:hover {
        left: -5px !important;
    }
    .view-1 .bxslider-chat .slick-dots,
    .view-3 .bxslider-chat .slick-dots{
        top: initial;
        bottom: -80px;
    }
    .view-1 .bxslider-h,
    .view-3 .bxslider-h{
        /*display: none;*/
    }
    .view-1 .bxslider-v1{
        /*display: block;*/
    }
    .view-1 .bxslider-v2,
    .view-3 .bxslider-v1{
        display: none;
    }
    .w100 {
        width: 100%;
    }
}
@media (max-width: 790px) {
    .footer .footer-nav .nav {
        margin-right: 13%;
    }
}
@media (min-width: 768px) {
    .dropdown-menu ul {
        list-style: none;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .view-2 .video-col {
        margin: 0 0 10px !important;
    }
    .view-2 .video-wrapper {
        margin: 0 0 10px !important;
    }
    .view-1 .collum-carusel ,
    .view-3 .collum-carusel {
        margin: 0 0 10px !important;
    }
    .navbar-nav > li > a {
        font-size: 12px;
    }
    .video-col > .view > span{
        display: none;
    }
    .view-2 .video-col .view{
        padding: 10px;
    }
    .view-2 .bxslider-h .slick-next{
        right: 0;
    }
    .view-2 .bxslider-h .slick-prev{
        left: 0;
    }
    .view-2 .bxslider-h .slick-dots li button:hover,
    .view-2 .bxslider-h .slick-dots li.slick-active button{
        background: #3d88cd;
    }
    page.w100.view-2 .video-col .video-wrapper{
        width: 100%;
        float: right;
        padding: 0 16px;
        margin: 0 0 17px 0;
    }
    .view-2 .video-col{
        width: 100%;
    }
    .view-2 .chat-col{
        width: 100% !important;
        min-height: 400px;
        margin-bottom: 40px;
        padding: 0 10px 30px;
    }
    .view-2 .bxslider-chat .slick-dots{
        top: initial;
        bottom: -80px;
    }

    .container-page.w100.view-2{
        padding: 0;
    }
    .container-page.w100.view-2 .collum-carusel{
        display: block;
    }
    .container-page.w100.view-2 .collum-carusel-v{
        display: none;
    }
    .view-3 .video-col .video-box,
    .view-3 .video-col .video-box:nth-child(2n+1){
        padding-right: 2px;
        margin-bottom: -2px;
    }
    .bxslider-v1.slick-slider,
    .bxslider-v2.slick-slider{
        display: none;
    }
    .view-1 .bxslider-h,
    .view-3 .bxslider-h{
        display: block;
        margin: 0;
    }
    .view-1 .bxslider-h .slick-list,
    .view-2 .bxslider-h .slick-list,
    .view-3 .bxslider-h .slick-list{
        margin: 0;
    }
    .slick-dots {
        margin: 5px 0 0;
    }
    .bxslider-h .slick-slide.slick-active{
        opacity: 1;
        transition: all .2s !important;
    }
    .bxslider-h .slick-slide{
        opacity: 0;
        transition: all .2s !important;
    }
    .view-3 .bxslider-h .slick-next,
    .view-3 .bxslider-h .slick-next:hover{
        right: 0;
    }
    .view-1 .collum-carusel{
        margin: 0;
    }
    .container-page.w100.view-1 .video-col .video-wrapper{
        width: 100%;
        float: right;
        padding: 0 10px;
        margin: 0 0 17px 0;
    }
    .container-page.w100.view-2 .video-col .video-wrapper{
        width: 100%;
        float: right;
        padding: 0 10px;
        margin: 0;
    }
    .container-page.w100.view-3 .video-col .video-wrapper{
        width: 100%;
        float: right;
        padding: 0 10px;
        margin: 0;
    }
    .view-3 .video-col .video-wrapper{
        margin: 0 0 19px 0;
        padding: 0 8px 0 16px;
    }
    .view-1 .collum-carusel,
    .view-2 .collum-carusel,
    .view-3 .collum-carusel{
        width: 100%;
        float: left;
        padding: 10px 7px !important;
        background-color: #262626;
    }
    .view-1 .video-col,
    .view-3 .video-col{
        padding-right: 0;
        overflow: hidden;
    }
    .view-1 .video-col .view,
    .view-3 .video-col .view{
        width: 100%;
        padding: 10px;
    }
    .view-1 .bxslider-h .slick-slide,
    .view-2 .bxslider-h .slick-slide,
    .view-3 .bxslider-h .slick-slide{
        margin: 0 2px!important;
        padding: 0 !important;
    }
    .view-1 .bxslider-h .slick-dots li button:hover,
    .view-1 .bxslider-h .slick-dots li.slick-active button,
    .view-3 .bxslider-h .slick-dots li button:hover,
    .view-3 .bxslider-h .slick-dots li.slick-active button{
        background: #3d88cd;
    }
    .view-2 .bxslider-h .slick-next,
    .view-3 .bxslider-h .slick-next,
    .view-2 .bxslider-h .slick-next:hover,
    .view-3 .bxslider-h .slick-next:hover{
        right: -7px;
    }
    .view-2 .bxslider-h .slick-prev,
    .view-3 .bxslider-h .slick-prev,
    .view-2 .bxslider-h .slick-prev:hover,
    .view-3 .bxslider-h .slick-prev:hover{
        left: -7px;
    }
    .view-1 .chat-col .slick-next,
    .view-2 .chat-col .slick-next,
    .view-3 .chat-col .slick-next {
        right: -10px;
    }
    .view-1 .chat-col .slick-prev,
    .view-2 .chat-col .slick-prev,
    .view-3 .chat-col .slick-prev {
        left: -10px;
    }
}
@media (max-width: 767px) {
    .wrapper-slide_video span{
        font-size: 14px;
    }
    .main-box {
        min-height: calc(100% - 182px);
    }
    .change-pay-title {
        padding: 0 30px;
    }
    .navmenu .navbar-nav {
        margin: 0 0px;
    }
    .nav > li > a {
        padding: 5px 10px;
    }
    .footer .footer-nav .nav {
        margin-right: 11%;
    }
    .dropdown-menu .container {
        padding: 0;
        width: 100%;
        background-color: #f7f8f8;
        border-top: 1px solid #f1f2f2;
        border-bottom: 1px solid #f1f2f2;
    }
    .dropdown-menu ul > li a {
        color: #222222;
    }
    .dropdown-menu ul > li a:hover {
        color: #333333;
    }
    .dropdown-menu ul > li a:after {
        content: none;
    }
    .dropdown-menu ul > li {
        float: none;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #3d88cd;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background: rgba(0, 19, 38, 0.1);
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        padding: 0 15px;
        position: relative;
    }
    .chat-col.resize .chat-controls {
        position: relative;
        padding: 0;
    }
    .page-button:active {
        background-color: #21699e;
        color: #9ab7cc;
    }
    .header {
        height: auto;
    }
    .header-title {
        height: 30px;
        font-size: 18px;
    }
}
@media (width: 768px) and (height: 1024px) {
    .view-2 .video-col {
        width: 100% !important;
    }
    .hidden-768 {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .check-wrapper li label{
        white-space: pre-wrap;
    }
    .tab-pane{
        padding: 0 10px;
    }
    .view-3 .video-col .video-box:nth-child(2n){
        padding: 0;
    }
    .tab-content .tab-pane.container{
        padding: 0 5px !important;
    }
    .daterangepicker.dropdown-menu .ranges{
        width: 98%!important;
        float: none !important;
        margin: 1% auto;
    }
    .datepic .table th,
    .datepic .table td{
        font-size: 12px;
    }
    .navbar-default.navbar-mobile .nav .open > a{
        border-left: 3px solid #489be6;
    }
    .avatar-img{
        width: 27px;
        height: 27px;
    }
    .header .header-inside .header-logo.login{
        margin: 7px 0px 0 0px;
        width: 100%;
        text-align: center;
    }
    .copyright{
        text-align: left;
        line-height: 24px;
    }
    .change-pay-title {
        padding: 0 8px;
    }
    .admin-mail {
        height: auto;
    }
    .admin-mail .container form {
        min-height: 0;
    }
    .main-box {
        min-height: calc(100% - 215px);
    }
    .statistic-header {
        text-align: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .datepic .form-group {
        float: right;
        width: 100%;
    }
    .daterangepicker{
        margin-top: 8px;
    }
    .daterangepicker.dropdown-menu{
        width: 96%;
        right: 2%!important;
        padding-bottom: 2%;
    }
    .steps .step-col .pasport {
        width: 160% !important;
        left: auto !important;
        font-size: 12px;
        line-height: 1;
        text-align: right;
    }
    .balance .container .form-group {
        margin-bottom: 10px;
    }
    .balance .container .balance-item {
        margin: -5px 10px 10px 8px;
        /*display: block;*/
    }
    .balance .container .ya-form .bootstrap-select .btn:first-child{
        width: 100%;
    }
    .change-col {
        margin-bottom: 30px;
    }
    .change-col > .pull-left {
        width: 100%;
        float: none !Important;
    }
    .change-col > .pull-right {
        width: 100%;
        float: none !Important;
        margin: 3px 0 0px;
    }
    .change-col > .pull-right .save-btn {
        margin-top: -16px;
        vertical-align: middle;
        padding-bottom: 12px;
    }
    .change-col > .pull-right .video-box {
        margin-bottom: 2px;
        min-height: 0;
    }
    .navbar .container {
        width: 100%;
    }
    .header .header-inside .header-inside-sections .js-hide {
        width: 100%;
    }
    .footer .footer-nav {
        padding: 20px 0 20px;
    }
    .footer .footer-nav .nav {
        display: block;
        padding: 0;
        text-align: center;
        margin-right: 1%;
    }
    .video-main {
        display: block;
    }
    .hidden-768 {
        display: none !important;
    }
    .menu.active .menu-button {
        color: #4b9bd7;
    }
    .menu-button {
        display: inline-block !important;
    }
    .header .header-inside .header-inside-section,
    .header .dropped {
        display: block !important;
        float: none !important;
    }
    .header-inside-sections {
        background: url('../../img/header/header-top-bg.jpg') repeat;
        position: absolute;
        display: none;
        right: -10px;
        top: 53px;
        z-index: 1;
        padding: 5px;
        min-width: 210px;
    }
    .dropped li > a {
        padding: 7px 22px 7px 9px;
    }
    .header .header-inside .header-inside-section {
        padding: 5px 3px;
    }
    .footer .footer-nav {
        padding: 20px 0 18px;
        height: auto;
    }
    .footer .footer-nav .footer-logo {
        margin-top: 20px;
        display: block;
    }
    .header-title {
        font-size: 16px;
    }
    .user-list li {
        float: none;
        display: inline-block;
    }
    .user-list {
        padding: 0 0 0 55px;
    }
    .user-content {
        padding: 0 0 0 50px;
    }
    .slick-slide img {

        width: 100%;
        height: 100%;
    }
}
@media (max-width: 600px) {
    .datepic .table th,
    .datepic .table td{
        font-size: 10px;
    }
    .daterangepicker{
        width: 100%;
        margin: 8px 0 0 0;
    }
    .datepic .form-group{
        width: 96%;
        margin: 0 auto 15px;
        float: none;
    }
    .form-group.ya-form .dropdown-menu ul > li a:before{
        display: none;
    }
    .balance .container .phone input{
        width: 90%;
    }
    .check-wrapper li span{
        display: block;
        margin: 0 0 10px;
    }
    .main-box {
        /*min-height: calc(100% - 50px);*/
    }
    .news-delivery {
        padding: 0;
    }
    label[for="like-news"] {
        display: inline;
        float: none;
    }
    .admin-mail {
        display: block;
    }
    form .pay-header {
        margin-bottom: 10px;
    }
    form .pay-header .pull-left {
        width: 100%;
        margin: 0px 0 10px;
    }
    form .pay-header input[type="checkbox"] {
        margin: 0 0px 0 0px;
    }
    form .pay-header label {
        margin: 0 10px 0 10px;
    }
    form .save {
        padding: 10px 35px;
    }
    .footer .footer-nav .nav {
        display: block;
        padding-top: 0px;
    }
    .footer .footer-logo {
        margin: 0 !important;
    }
    .main-custom .form {
        width: 100%;
        padding: 39px 30px;
    }
    .main-box .container{
        padding: 0;
    }
    .main-custom .form .form-group {
        width: 100%;
    }
    .main-custom .form .captcha-code {
        width: calc(100% - 184px);
    }
    .view-2 .video-col{
        height: auto !important;
    }
}
@media (max-width: 480px) {
    .datepic .table th{
        text-align: center !important;
    }
    .datepic .table th,
    .datepic .table td{
        white-space: normal !important;
        vertical-align: middle;
    }
    .wrapper-slide_video span{
        font-size: 12px;
    }
    .datepic .form-group {
        font-size: 14px;
        padding-top: 9px;
    }
    .check-wrapper li .page-link {
        margin-top: 2px;
    }
    .statistic-header a {
        padding: 0 5px;
    }
    .header-title {
        font-size: 11px;
    }
    .change .form .form-footer input {
        padding: 0 5px;
        font-size: 13px;
    }
    .pasport-photo .form-group {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .pasport-photo .page-button {
        margin: 0px 10px 10px 0;
    }
    .reg-controls .page-button {
        padding: 13px 24px !important;
    }
    .reg-controls .continue {
        padding: 13px 30px !important;
    }
    .bootstrap-select .dropdown-menu li a span.option {
        font-size: 13px;
        text-indent: 5px;
    }
    .bootstrap-select .btn-default {
        padding-left: 5px !important;
        font-size: 13px;
    }
    .change .form .form-footer .page-button {
        float: left;
        margin: 0 10px 0 0;
    }
    .change .form .form-footer input {
        width: 100%;
        margin: 10px 0;
    }
    .change-col > .pull-right {
        width: 100%;
        float: none !Important;
    }
    .video-main .container {
        padding: 0 0px;
    }
    .chat-col .chat-controls form .smiles-box-wrapper .smiles-box {
        padding: 5px 5px;
        width: 100%;
        height: auto;
    }
    .chat-col .chat-controls form .smiles-box-wrapper .smiles-box:after {
        right: 60px;
    }
    .chat-col.resize .chat-controls form .smiles-box-wrapper .smiles-box:after {
        right: 22px;
    }
    .chat-col .chat-controls form .smiles-box-wrapper,
    .chat-col.resize .chat-controls form .smiles-box-wrapper {
        right: 2px;
        width: 280px;
    }
    .main-custom .form {
        padding: 30px 15px;
    }
    .main-custom .form .captcha-code {
        width: calc(100% - 172px);
    }
    .main-custom .form .captcha-code input {
        padding: 0 7px;
    }
    .main-custom .form .error .error-text {
        display: block;
        min-width: 240px;
    }
    .main-custom .form .captcha-refresh {
        float: left;
        margin: 5px 4px 0;
    }
    .main-custom .form .check-wrapper {
        font-size: 12px;
    }
    .fileinput .thumbnail {
        margin-right: 8px;
    }
    .fileinput .page-button {
        padding: 12px 9px !important;
    }
    .fileinput .red-btn {
        margin: 8px 0 0 2px;
    }
    .vissible-480 {
        display: block !important;
    }
    .form-group input {
        padding: 0 52px 0 10px;
        font-size: 13px;
    }
}
@media (max-width: 350px) {
    .datepic .table th,
    .datepic .table td{
        padding: 4px;
    }
    .page-button.btn-file.margin-top{
        margin: 29px 0 0;
    }
}
@media (max-width: 390px) {
    .vissible-390 {
        display: block !important;
    }
    .hidden-390 {
        display: none;
    }
}
@media (max-height: 500px) {
    .navbar-default.navbar-mobile .navmenu-default{
        height: auto;
    }
}
@media (min-width: 767px) and (max-width: 992px) {

    .navbar-nav > li > a {
        font-size: 11px;
    }
    .navbar-nav.nav > li > a {
        padding: 7px 5px !important;
    }
    .navbar.navbar-default > .container,
    .nav.navbar-nav .container.nav-tabs{
        padding: 0;
    }
    .dropdown-menu ul > li a {
        padding: 3px 5px !important;
        font-size: 11px;
    }


}
@media (orientation: portrait) {
    .collum-carusel {
        margin: 0 -5px;
    }
    .view-1 .bxslider-h,
    .view-3 .bxslider-h,
    .view-1 .video-col,
    .view-3 .video-col,
    .view-3 .bxslider-h .slick-dots,
    .view-1 .bxslider-h .slick-dots{
        margin-bottom: 0 !important;
    }
    .view-1 .bxslider-chat .slick-dots ,
    .view-3 .bxslider-chat .slick-dots {
        position: static;
        margin: 42px 0 0;
    }
    .view-1 .chat-col ,
    .view-3 .chat-col {
        padding: 0 0 30px;
    }
    .view-1 .video-col, .view-3 .video-col{
        width: 100%;
        float: none;
    }
    .view-1 .chat-col, .view-3 .chat-col {
        width: 100%;
        float: none;
    }
    .view-2 .video-col {
        width: 100%;
        float: none;
    }
    .view-2 .chat-col {
        width: 100%;
        float: none;
    }
    .view-1 .video-col .video-wrapper,
    .view-3 .video-col .video-wrapper{
        float: none;
        width: 100%;
    }
}
@media (orientation: portrait) and (max-width: 1023px) {
    .view-1 .video-col .video-wrapper,
    .view-3 .video-col .video-wrapper{
        padding: 0 10px;
    }
    .view-1 .collum-carusel, .view-3 .collum-carusel {
        padding:10px;
    }
}
@media (max-width: 1400px){
    .user-list li a {
        font-size: 10px;
    }
}
@media (max-width: 410px){
    .user-list {
        padding: 0 0 0 10px;
    }
}
@media (max-width: 410px){
    .user-list li {
        padding: 0 7px 0 0;

    }
    .user-list li a {
        font-size: 9px;
    }
}

